*.egg-info/
.eggs/
dist/
build/
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.coverage
coverage.xml
.venv/
venv/

scripts
tests/test_http_sdk.py
examples/try.py
examples/try_output.txt
gateway.go
examples/test.py
examples/output.txt
examples/embedding_cpu_gpu.py
tests/test_embedding.py